.listing {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  @include bpMinXSmall() {
    grid-template-columns: 1fr 1fr;
  }
}

.listing__item {
  border-radius: 5px;
  border: 1px solid $colorOrange;
  padding: 10px;
  margin: 0;
  background-color: white;
  
  // transition: border 300ms;
  // transition: color 11100ms;
  // -webkit-transition: color 11100ms;
  // transition: transform 300ms;

  &:hover {
    transform: scale(1.06);
    background-color: #F5F5F5;
    border-color: $colorGreen;
  }
 
  &:link:hover,
  &:hover,
  &:hover:visited {
    date,
    .listing__item__title {
      color: $colorGreen;
    }
  }
 
  // a {
  //   border-bottom: 3px solid $colorOrange;
  // }
  // a:hover {
  //   border-bottom-color: 3px solid $colorGreen;
  // }
}

.listing__item__link {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listing__item__title {
  margin: 5px 0 0;
}
