---
layout: layouts/home.njk
nav: true
---

<section id="meetup" class="promo" style="background-image: url('/_assets/img/blog/2021/first_event_tampa_devs.jpg');">

  <div class="promo__content">

    {# <p class="promo__content__tag">Friday 15th – Saturday 16th October 2021</p> #}
    <h2 class="promo__content__title">Tampa Devs Meetup</h2>

    <p class="mb--0">
      <strong>Subscribe to our latest events!</strong>
    </p>
    <p class="m--0">We post our upcoming events through Meetup.com!</p>

    <p>
      <a class="promo__content__button" href="https://meetup.com/tampadevs" target="_blank" rel="noopener">
        Join Meetup
      </a>
    </p>
  </div>
</section>

<section id="slack" class="mt--15 promo" style="background-image: url('/_assets/img/slack-background2.png');">

  <div class="promo__content">

    {# <p class="promo__content__tag">Friday 15th – Saturday 16th October 2021</p> #}
    <h2 class="promo__content__title">Tampa Devs Slack</h2>
    <p class="mb--0">
      <strong>Join the community!</strong>
    </p>
    <p class="m--0">Chat with your fellow developers in the Tampa community!</p>

    <p>
      <a class="promo__content__button" href="https://join.slack.com/t/tampa-devs/shared_invite/zt-veftezkg-kq~jFtC1FCz4o6suybMl5Q" target="_blank" rel="noopener">
        Join Slack
      </a>
    </p>
  </div>
</section>

<br /><br />

