.td-about {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
}

.td-about-wrapper {

}
.td-about-section {
  display: flex;
  flex-wrap: wrap;
  .td-about-person {
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
    height: auto;
    // @include bpMinSmall () {
    //   width: 50%;
    // }
    @include bpMinMedium () {
      width: 50%;
    }
    @include bpMinLarge () {
      width: 33%;
    }
    // margin: 25px;
    .person-name {
      margin-bottom: 8px;
    }
    .person-bio {
      margin: 0px;
      color: black;
    }
    img {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 200px;
      height: 200px;
    }
    .circular-border {
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-color: #00a187;
      border-right-color: #00a187;
      border-bottom-color: #00a187;
      border-left-color: #00a187;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      background-color: #00a187;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      height: 218px;
      width: 218px;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
      padding: 8px;
      vertical-align: middle;
    }
    .image-container {
      background-color: #efeeee;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      height: 200px;
      width: 200px;
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
}

// Members only specific section
.td-about-members {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  img {
    width: 100px;
    height: 100px;
    object-fit:cover;
  }
  .member-pic {
    margin-right: 15px;
    position: relative;
    height: 100px;
    width: 100px;
    transition: background-color 1s ease;
    cursor: pointer;
    img {
      border-radius:50%;
      border: 3px solid black;
    }
    &:hover {
      background-color: black;
      display: flex;
      align-content: center;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
      // .person-name {
      //   display: inline;
      // }
      .text-overlay {
        min-height: 100px;
        min-width: 100px;
        max-height: 100px;
        max-width: 100px;
        width: 100px;
        height: 100px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s ease;
        background-color: black;
        color: white;
        height: auto; opacity: 1;
        transition: height 0ms 0ms, opacity 600ms 0ms;   
      }
      // img {
      //   display: none;
      //   transition: background-color 1s ease;
      // }
    }
    .text-overlay {
      height: 0;
      opacity: 0;
      transition: height 0ms 400ms, opacity 400ms 0ms;
      z-index: 5;
      position: absolute;
      transition: background-color 0.5s ease;
      background-color: transparent;
    }
    // .person-name {
    //   display: none;
    //   color: white;
    // }
  }


  margin-bottom: 200px;
}

//Speaker stuff
.td-about-speakers {
  padding-top: 25px;
  .member-pic {
    display: flex;
    img {
      width: 125px;
      height: 125px;
      object-fit:cover;
      border-radius: 50%;
      margin-right: 30px;
    }
    .talk-title {
      color: black;
    }
    .talk-date {
      color: black
    }
  }

}