---
nav: true
title: "Thank You"
aos: false
---

{% extends "layouts/base.njk" %}
{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}
{% block content %}
  {# <header class="td-about-header" aria-labelledby="about-tampa-devs">
    <div class="td-about-header-img-wrapper">
      <picture>
        <source media="(min-width:650px)" srcset="/_assets/img/about/tampa-dev-edited-117.jpg">
        <img src="/_assets/img/about/tampa-dev-edited-117-550.jpg" alt="">
      </picture>
    </div>
    <div class="td-about-header-txt-overlay">
      <h1 id="about-tampa-devs">Thank You</h1>
    </div>
  </header> #}
  <main class="td-about main-content">
    <section aria-labelledby="our-story" class="td-about-section container">
      <h2 id="our-study">Thank You!</h2>
      <div class="xs:ml--20 md:ml--40">
        <p>On behalf of Tampa Devs, we want to extend our deepest gratitude for your generous donation. Your support means the world to us and plays a vital role in our mission to foster a vibrant and thriving developer community.</p>
        <p>Your contribution directly fuels our efforts to provide valuable resources, organize engaging events, and create a nurturing environment where developers of all levels can learn, grow, and collaborate. With your help, we can continue to inspire innovation, share knowledge, and empower individuals to reach new heights in their tech careers.</p>
        <p>It's supporters like you who make Tampa Devs the incredible community it is today. Your commitment to our cause exemplifies the spirit of unity and empowerment that drives us forward.</p>
        <p>We would also like to invite you to stay connected with us. Follow us on social media, join our events, and be a part of the exciting journey we have ahead. Your involvement, no matter how big or small, makes a significant impact.</p>
        <p>Once again, thank you for your kindness and generosity. Together, we are shaping the future of tech in Tampa Bay, and your contribution is a vital part of that journey. We look forward to continuing this incredible journey with you.</p>
        <p>Warm regards,</p>
        <p>The Tampa Dev Team</p>
      </p>
    </div>
  </section>
</main>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
  new Flickity('.slider__past-events', {
    cellSelector: '.slider__cell',
    lazyLoad: 3,
    autoPlay: 3000,
    cellAlign: 'center',
    groupCells: "80%",
    prevNextButtons: false,
    wrapAround: true,
    setGallarysize: true,
    fullscreen: true
  });
</script>
{% endblock %}